<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Shipping Address</h1>
    <form method="POST" data-th-action="@{/checkout}" data-th-object="${shipAdd}">
        <table>
            <tr>
                <td>
                    Name:
                </td>
                <td>
                    <input type="text" name="name" data-th-field="*{name}">
                    <div data-th-if="${#fields.hasErrors('name')}">
                        <span style="color:red" data-th-errors="*{name}"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Address:
                </td>
                <td>
                    <input type="text" name="address" data-th-field="*{address}">
                    <div data-th-if="${#fields.hasErrors('address')}">
                        <span style="color:red" data-th-errors="*{address}"></span>
                    </div>
                </td>
            </tr>
        </table>
        <div>
            <button type="submit" formmethod="GET" data-th-formaction="@{/}">Back</button>
            <button type="submit">
                Checkout
            </button>
        </div>
    </form>
</body>
</html>